<!-- scenarios/_scenario.html.erb -->
  <div class="scenarios-head">
    <h4>Story scenarios</h4>
    <%= link_to_remote 'Add scenario', {:url => new_story_scenario_path(@story), :method => 'GET'}, :class => 'add-small' %>
  </div>
  <div class="scenarios">
    <% @scenarios.each do |scenario| %>
      <% @scenario = scenario -%>
      <%= render :partial => "scenario" %>
    <% end %>
  </div>
  <div class="scenarios-foot">
    <%= link_to_remote '&laquo; Back to story overview', {:update => element_id(@story),
    :url => story_path(@story), :method => 'GET'}, :class => 'back-small' %>
  </div>

