<!-- layouts/_footer.html.erb -->
	<div style="clear: both;">&nbsp;</div>
  <div id="footer">
		<p>Copyright (c) 2008 HeadLondon.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->

