<!-- preconditions/_preconditions.html.erb -->
  <div>
    <%= link_to_remote 'Add condition', {:url => new_precondition_path(:scenario_id => @scenario.id), :method => 'GET'}, :class => "add-small" %>
    <% unless @preconditions.nil? or @preconditions.empty? -%>
    <ol>
    <% @preconditions.each do |precondition| -%>
      <% @precondition = precondition -%>
      <%= render :partial => "precondition" %>
    <% end -%>
    </ol>
    <% end -%>
  </div>

