<h1>Editing precondition</h1>

<% form_for(@precondition) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @precondition %> |
<%= link_to 'Back', preconditions_path %>