<h1>Listing preconditions</h1>

<table>
  <tr>
  </tr>

<% @preconditions.each do |precondition| %>
  <tr>
    <td><%= link_to 'Show', precondition %></td>
    <td><%= link_to 'Edit', edit_precondition_path(precondition) %></td>
    <td><%= link_to 'Destroy', precondition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New precondition', new_precondition_path %>