/* --- Reset everything --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li, frameset, frame{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;list-style:none;letter-spacing:0}

/* General */
html, body{height:100%;}
body{background:#fff;font-family:Georgia, "Courier New", "Times New Roman";}
h1, h2, h3{font-family:Helvetica, Verdana, Arial, sans-serif;}
h2{padding:0 0 20px;}
h3{padding:0 0 15px;}
a{color:#1d76b9;}
a:hover{text-decoration:underline;}
hr{margin:0 0 15px;}

/* ----- MAIN LAYOUT ----- */

/* #container */
#container{width:100%;min-width:960px;min-height:100%;margin:0 auto -40px;overflow:hidden;}

/* #header */
#header{width:100%;height:100px;position:relative;background:#ddd;}

/* #logo */
#logo{padding:10px;}

/* #logged-in */
#logged-in{position:absolute;top:10px;right:10px;}
#logged-in ul{overflow:hidden;}
#logged-in ul li{margin:0 0 0 10px;float:left;}

/* #menu */
#menu{position:absolute;bottom:10px;left:10px;overflow:hidden;}
#menu ul{overflow:hidden;float:left;}
#menu ul li{margin:0 10px 0 0;float:left;}
#menu form{padding:0 0 0 50px;float:left;}

/* #footer */
#footer{width:100%;height:40px;background:#ddd;}
#footer p{padding:10px;font-size:12px;}
#clear-footer{height:40px;}

/* ----- CONTENTS ----- */

/* #content */
#content{padding:10px;position:relative;}
#content p{padding:0 0 15px;}

/* #flash-notice */
#flash-notice {width:50%;margin:8px auto;padding:6px;background:#ccffcc;border:2px solid #258a05;color:#258a05;text-align:center;}

/* #flash-error */
#flash-error {width:50%;margin:8px auto;padding:6px;background:#f8b7bd;border:2px solid #ff0000;color:#ff0000;text-align:center;}

/* #errors */
#errors{margin:0 0 15px;padding:10px;background:#f8b7bd;border:2px solid #ff0000;color:#ff0000;}

/* #actions */
#actions{position:absolute;top:10px;right:10px;}
#actions ul{overflow:hidden;}
#actions ul li{margin:0 0 0 10px;float:left;}

/* #content table */
#content table {width:100%;padding:0 0 15px;}
#content table th {padding:2px 5px 3px;background:#000;color:#fff;font-weight:bold;text-align:left;}
#content table tr.even {background:#eee;}
#content table tr.odd {background:#fff;}
#content table td {padding:4px;}
#content table td.action{width:20px;}

/* #content form */
#content form{}
#content form p{overflow:hidden;}
#content form p label{width:150px;padding:1px 0 0 ;float:left;}

/* .story-holder */
.story-holder{margin:0 -15px 0 0;padding:0 0 15px;overflow:hidden;}

/* .story */
.story{width:450px;margin:0 15px 15px 0;padding:10px;position:relative;float:left;border:1px solid #000;}
.story h3{width:390px;}
.story .delete{width:26px;height:26px;position:absolute;top:10px;right:10px;display:block;overflow:hidden;text-indent:-1000px;background:url("/images/icons/delete.png") no-repeat;}
#content .story form p label{width:70px;}