<% 
	@page_title = "Edit #{@user.login}" 
	@user.password = @user.password_confirmation = nil
%>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', users_path %></li>
	</ul>
</div>

<% form_for(@user) do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= submit_tag 'Update user' %></p>
<% end -%>

