<h2>Create a new user</h2>
<% @user.password = @user.password_confirmation = nil %>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', users_path %></li>
	</ul>
</div>

<% form_for :user, :url => users_path do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= submit_tag 'Create user' %></p>
<% end -%>

