<% # TODO: Pretty gross, but can be cleaned up later %>
<%= f.hidden_field(:_destroy) %>
<% link_to "#", :class => css_class, :onclick => "branston.forms.deleteFormObject(event, #{is_new});" do %>
  <i class="icon-minus icon-white"></i>
  <span class="hidden">Remove</span>
<% end %>