<%
  @page_title = "New Project"
%>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span12">
    <h1><%=h @page_title %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% form_for(@project, :html => { :class => "form-horizontal"}) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>