<h2>New Project</h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', projects_path %></li>
	</ul>
</div>

<% form_for(@project) do |form| %>
  <%= form.error_messages %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>


