<!-- outcomes/_outcomes.html.erb -->
  <div>
    <%= link_to_remote '(+) New expected result', :update => element_id(@scenario,'outcomes'),
      :url => new_outcome_path(:scenario_id => @scenario.id), :method => 'GET' %>
    <% @outcomes.each do |outcome| %>
      <% @outcome = outcome -%>
      <%= render :partial => "outcome" %>
    <% end %>
  </div>

