<h2>Editing story</h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', iteration_stories_path(@iteration) %></li>
		<li><%= link_to 'Show', iteration_story_path(@iteration, @story) %></li>
	</ul>
</div>

<% form_for @story, :url => iteration_story_path(@iteration, @story) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit 'Update' %></p>
<% end %>

