<%= link_to 'New story', new_story_path, :class => "add" %>

<% content_for :page_end do %>
<script type="text/javascript">
  $(function(){
	  // Accordions
	  $(".accordion").accordion({ header: "h3" });
    // Drag drop lists
    $('ul').drag_drop_selectable();
  });
</script>
<% end %>

<div id="current-wrapper">
  <h2>Current Stories</h2>
  <ul id="current" class="accordion">
  <% @stories.each do |story| %>
    <%= render :partial => "story_card", :locals => {:story => story} %>
  <% end %>
  </ul>
</div>

