<% @page_title = "New Story" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', iteration_stories_path(@iteration) %></li>
	</ul>
</div>

<% form_for @story, :url => iteration_stories_path(@iteration) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit 'Create' %></p>
<% end %>

