<h2>New iteration</h2>

<% form_for(@iteration) do |f| %>
  <%= f.error_messages %>

   <%= render :partial => 'form', :locals => {:f => f } %>

  <p class="form-navigation">
    <%= link_to 'Back', iterations_path, :class => "back" %>
    <%= f.submit 'Create' %>
  </p>
<% end %>

