<% content_for :page_end do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", { packages:["corechart"] })
  google.setOnLoadCallback(drawChart)
  function drawChart() {
    var data = new google.visualization.DataTable(<%= burndown_data_js(@iteration) %>)
    var chart = new google.visualization.LineChart(document.getElementById('burndown-chart'))
    chart.draw(data, {
      width: 960, height: 550,
      title: "",
      vAxis: { title:'Story Points', minValue:0, maxValue:<%=@iteration.velocity %> },
      hAxis: { ßtextStyle: { fontSize:12 }, slantedText:true, slantedTextAngle:60 }
    })
  }
</script>
<% end %>

<div id="burndown-chart"></div>