<h2>New iteration</h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', project_path(@project) %></li>
	</ul>
</div>

<% form_for :iteration, :url => project_iterations_path(@project), 
	:html => { :method => 'POST' } do |f| %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p><%= f.submit 'Create' %></p>
<% end %>

