<fieldset>
  <div class="control-group">
    <%= f.label :description, nil, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5, :class => "input-xxlarge" %> <%= delete_item(f, "", "btn btn-danger") %>
    </div>
  </div>
</fieldset>