<p>
	<%= link_to_remote 'Add outcome', {:url => new_outcome_path(:scenario_id => @scenario.id), :method => 'GET'}, :class => "add-small" %>
</p>
<% unless @outcomes.nil? or @outcomes.empty? -%>
	<% @outcomes.each do |outcome| -%>
		<% @outcome = outcome -%>
		<%= render :partial => "outcome" %>
	<% end -%>
<% end -%>

