<h1>Editing outcome</h1>

<% form_for(@outcome) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @outcome %> |
<%= link_to 'Back', outcomes_path %>