<h1>Listing outcomes</h1>

<table>
  <tr>
  </tr>

<% @outcomes.each do |outcome| %>
  <tr>
    <td><%= link_to 'Show', outcome %></td>
    <td><%= link_to 'Edit', edit_outcome_path(outcome) %></td>
    <td><%= link_to 'Destroy', outcome, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New outcome', new_outcome_path %>