<!-- scenarios/_scenario.html.erb -->
<% if @scenario.created_at.nil? -%>
  <% remote_form_for :scenario, @scenario, :url => story_scenarios_path(@story) do |f| -%>
  <p class="form-fields">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class="form-navigation"><%= f.submit 'Create' %></p>
  <% end -%>
<% else -%>
  <p>
    <%= in_place_editor_field 'scenario', 'title' %>
  </p>
  <p>
    (+) Add precondition
  </p>
<% end -%>

