<!-- layouts/_footer.html.erb -->
	<div style="clear: both;">&nbsp;</div>
  <div id="footer">
        <p>Copyright (c) 2010 <a href="http://www.headlondon.com">headlondon.com</a>. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. Branston is Free Software released under the Affero GPL.<br/>
        <%= image_tag "agplv3.png" %></p>
	</div>
	<!-- end #footer -->

