<!-- start .footer -->
<div class="row footer">
  <div class="span12">
    <p>Copyright &copy; <%= Time.now.year %> <a href="http://www.headlondon.com">Head</a>. All rights reserved.</p>
  </div>
</div>
<!-- end .footer -->
