<!-- layouts/_header.html.erb -->
  <div id="logo">
		<h1><a href="#">Branston  </a></h1>
		<p><em> Small chunk pickle</em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="#overview-tab" class="first">Overview</a></li>
				<li><a href="#releases-tab">Releases</a></li>
				<li><a href="#iterations-tab">Iterations</a></li>
				<li class="current_page_item"><a href="#stories-tab">Stories</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->

