<!-- start #header -->
<div id="header">
  <div id="logo">
	  <h1><a href="/">Branston</a></h1>
	  <p><em> Small chunk pickle</em></p>
  </div>
  <% if logged_in? -%>
  <div id="logged-in">
    <ul>
      <li>Logged in as <%= current_user.login %></li>
      <li><%= link_to 'Log Out', logout_path %></li>
    </ul>
  </div>
  <% end -%>
	<div id="menu">
		<% if logged_in? -%>
  		<ul>
  		  <li><%= link_to 'Projects', projects_path %></li>
  			<li><%= slink_to 'Users', users_path, {}, "admin" %></li>
  		</ul>
  		<!-- <form method="get" action="">
  			<fieldset>
  			<input type="text" name="s" id="search-text" size="15" />
  			<input type="submit" id="search-submit" value="GO" />
  			</fieldset>
  		</form>-->
		<% end -%>
	</div>
</div>
<!-- end #header -->